@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  
}
* {
  font-family: Georgia;
}
/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background-color: black; 
  border-radius: 10px;
}

/* Handle (thumb) styles */
::-webkit-scrollbar-thumb {
  background-color: rgb(3, 138, 138); 
  border-radius: 10px; 
  border: 3px solid green; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color:  green; 
}